In [2]:
import pandas as pd
from sklearn.model_selection import \
    TimeSeriesSplit  # Découper une série temporelle en prenant en compte la dépendance temporelle
from sklearn.feature_selection import \
    SequentialFeatureSelector  # Sélectionner de manière séquentielle un sous ensemble de caractéristiques à partie d'un ensemble plus large
from sklearn.linear_model import \
    RidgeClassifier  # Fonction linéaire régularisée, prédire la classe d'un échantillon à partir de caractéristiques
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

###################################### TRAITEMENT DE DONNEES ##########################################

df = pd.read_csv("nba_games.csv", index_col=0)

# → Trier les lignes avec la date et obtenir les nouveaux index ensuite, sans créer une colonne des anciens index
df = df.sort_values("date")
df = df.reset_index(drop=True)

del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

# team = box scores for one team
# add_target => inclue une colonne indiquant le résultat de l'équipe au match d'après
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team


df = df.groupby("team", group_keys=False).apply(add_target)
df["target"][pd.isnull(df["target"])] = 2
df["target"] = df["target"].astype(int, errors="ignore")

team_df = df[df["team"] == "WAS"]

# Checker toutes les valeurs nulles de notre dataframe : false si c'est not null, true si c'est null
nulls = pd.isnull(df).sum()
nulls = nulls[nulls > 0]
# Sélection des colonnes qui ne sont pas dans nulls grâce à l'opérateur négatif ~
valid_columns = df.columns[~df.columns.isin(nulls.index)]
# Permet de copier les nouvelles colonnes, les ajouter dans des colonnes existantes peuvent créer des erreurs
df = df[valid_columns].copy()

/var/folders/ll/_5vx1kfs0zb1d286dqr8f1zc0000gn/T/ipykernel_43491/2545537586.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [3]:
print(df)

         mp    fg   fga    fg%    3p   3pa    3p%    ft   fta    ft%  ...  \
0     240.0  40.0  80.0  0.500  13.0  34.0  0.382  24.0  28.0  0.857  ...
1     240.0  45.0  99.0  0.455  16.0  45.0  0.356  17.0  23.0  0.739  ...
2     240.0  40.0  94.0  0.426  10.0  40.0  0.250  19.0  25.0  0.760  ...
3     240.0  46.0  82.0  0.561  12.0  35.0  0.343  22.0  28.0  0.786  ...
4     240.0  36.0  86.0  0.419  13.0  30.0  0.433  23.0  32.0  0.719  ...
...     ...   ...   ...    ...   ...   ...    ...   ...   ...    ...  ...
1903  240.0  38.0  78.0  0.487   9.0  29.0  0.310  18.0  23.0  0.783  ...
1904  240.0  36.0  86.0  0.419  10.0  31.0  0.323  20.0  24.0  0.833  ...
1905  240.0  42.0  89.0  0.472  14.0  34.0  0.412  12.0  16.0  0.750  ...
1906  240.0  42.0  84.0  0.500  20.0  47.0  0.426  21.0  25.0  0.840  ...
1907  240.0  46.0  86.0  0.535  10.0  26.0  0.385  15.0  19.0  0.789  ...

      tov%_max_opp  usg%_max_opp  ortg_max_opp  drtg_max_opp  team_opp  \
0             22.5          35.0         233.0         125.0       BOS
1             40.0          35.5         300.0         119.0       LAL
2             40.0          34.5         177.0         102.0       GSW
3             28.6          33.9         165.0         136.0       PHI
4             50.0          45.1         170.0         119.0       CLE
...            ...           ...           ...           ...       ...
1903          22.2          27.0         150.0         108.0       OKC
1904          23.8          31.5         148.0         113.0       MIN
1905          25.4          45.4         139.0         122.0       LAL
1906          23.7          35.4         154.0         151.0       CHI
1907          31.1          28.1         125.0         126.0       CHO

      total_opp  home_opp        date    won  target
0           126         1  2022-10-18  False       0
1           109         0  2022-10-18   True       0
2           123         1  2022-10-18  False       0
3           117         0  2022-10-18   True       1
4           105         0  2022-10-19   True       0
...         ...       ...         ...    ...     ...
1903        130         1  2023-03-03  False       2
1904        110         0  2023-03-03  False       2
1905        102         1  2023-03-03   True       2
1906        104         1  2023-03-03   True       2
1907        106         1  2023-03-03   True       2

[1908 rows x 141 columns]

In [6]:
##################################################### MACHINE LEARNING #################################################################

# Traiter un grand nombre de colonnes en machine learning peut entraîner des erreurs de corrélations, utilisation de sélecteurs
# Machine learning model
rr = RidgeClassifier(alpha=1)  # Alpha pour la régularisation
split = TimeSeriesSplit(n_splits=3)

# Le sélecteur va entraîner la machine en envoyant des parties de features et récupérer les features les plus pertinentes
sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split)

removed_columns = ["season", "date", "won", "target", "team", "team_opp"]

selected_columns = df.columns[~df.columns.isin(removed_columns)]
# Valeurs des colonnes sélectionnées sont entre 0 et 1
scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

# Récupérer les 30 meilleures features pour prédire
sfs.fit(df[selected_columns], df["target"])

# sfs.get_support => True: colonnes pertinentes pour notre prédiction
predictors = list(selected_columns[sfs.get_support()])

In [7]:
def backtest(data, model, predictors, date):
    all_predictions = []

    train = data[data["date"] < date]
    model.fit(train[predictors], train["target"])
    test = data[data["date"] == date]

    preds = model.predict(test[predictors])
    preds = pd.Series(preds, index=test.index)

    combined = pd.concat([test["target"], preds], axis=1)
    combined.columns = ["actual", "prediction"]

    all_predictions.append(combined)
    return pd.concat(all_predictions)

# Récupérer les colonnes sélectionnées et ajouter les colonnes won et team
df_rolling = df[list(selected_columns) + ["won", "team"]]

# Groupe les 10 dernières lignes d'une équipe de notre df, pour chacune des lignes, retourne la moyenne avec mean
def find_team_averages(team):
    rolling = team.rolling(30).mean()
    return rolling
# Regrouper nos colonnes pour une équipe spécifique
df_rolling = df_rolling.groupby(["team"], group_keys = False).apply(find_team_averages)

rolling_cols = [f"{col}_10" for col in df_rolling.columns]
df_rolling.columns = rolling_cols

df = pd.concat([df, df_rolling], axis=1)
df = df.dropna()

def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")
df = df.copy()

full = df.merge(df[rolling_cols + ["team_opp_next", "date_next", "team"]],
                left_on=["team", "date_next"],
                right_on=["team_opp_next", "date_next"]
)

/var/folders/ll/_5vx1kfs0zb1d286dqr8f1zc0000gn/T/ipykernel_43491/3336873986.py:22: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['team'], dtype='object')
  rolling = team.rolling(30).mean()

In [8]:
removed_columns = list(full.columns[full.dtypes == "object"]) + removed_columns
selected_columns = full.columns[~full.columns.isin(removed_columns)]

sfs.fit(full[selected_columns], full["target"])
predictions = backtest(full, rr, predictors, "2023-03-01")
accuracy = accuracy_score(predictions["actual"], predictions["prediction"])
full = pd.concat([full, predictions], axis=1)

In [9]:
print(full)

      mp        fg       fga       fg%    3p       3pa       3p%        ft  \
0    0.0  0.378378  0.473684  0.450142  0.28  0.391304  0.318949  0.578947
1    0.0  0.486486  0.210526  0.857550  0.28  0.239130  0.455910  0.421053
2    0.0  0.189189  0.350877  0.321937  0.36  0.673913  0.255159  0.684211
3    0.0  0.297297  0.368421  0.441595  0.32  0.304348  0.454034  0.605263
4    0.0  0.351351  0.192982  0.692308  0.52  0.304348  0.776735  0.684211
..   ...       ...       ...       ...   ...       ...       ...       ...
987  0.0  0.270270  0.280702  0.487179  0.56  0.434783  0.664165  0.763158
988  0.0  0.351351  0.333333  0.541311  0.52  0.521739  0.529081  0.526316
989  0.0  0.297297  0.245614  0.558405  0.56  0.369565  0.744841  0.552632
990  0.0  0.108108  0.438596  0.159544  0.28  0.608696  0.198874  0.421053
991  0.0  0.297297  0.508772  0.327635  0.48  0.673913  0.377111  0.552632

          fta       ft%  ...  usg%_max_opp_10_y  ortg_max_opp_10_y  \
0    0.510638  0.795714  ...           0.163974           0.455672
1    0.404255  0.690000  ...           0.176325           0.427400
2    0.638298  0.748571  ...           0.147436           0.406981
3    0.574468  0.722857  ...           0.161368           0.322862
4    0.638298  0.748571  ...           0.147308           0.402967
..        ...       ...  ...                ...                ...
987  0.744681  0.707143  ...           0.142137           0.337871
988  0.382979  1.000000  ...           0.139359           0.374171
989  0.510638  0.744286  ...           0.144872           0.359162
990  0.361702  0.795714  ...           0.164957           0.352705
991  0.489362  0.788571  ...           0.192991           0.433682

     drtg_max_opp_10_y  total_opp_10_y  home_opp_10_y  won_10_y  \
0             0.557292        0.334386       0.533333  0.733333
1             0.444271        0.389474       0.566667  0.233333
2             0.456771        0.342456       0.433333  0.333333
3             0.481771        0.316842       0.500000  0.600000
4             0.448437        0.335088       0.433333  0.366667
..                 ...             ...            ...       ...
987           0.489583        0.362456       0.433333  0.533333
988           0.561458        0.372982       0.500000  0.500000
989           0.496354        0.363509       0.533333  0.466667
990           0.606771        0.410175       0.500000  0.633333
991           0.464062        0.354386       0.566667  0.333333

     team_opp_next_y  team_y  actual  prediction
0                ORL     BOS     NaN         NaN
1                BRK     DET     NaN         NaN
2                BOS     ORL     NaN         NaN
3                DET     BRK     NaN         NaN
4                ATL     ORL     NaN         NaN
..               ...     ...     ...         ...
987              LAL     MIN     0.0         1.0
988              PHI     DAL     0.0         0.0
989              BOS     BRK     0.0         0.0
990              LAC     SAC     NaN         NaN
991              GSW     NOP     NaN         NaN

[992 rows x 422 columns]